<h3>Edit and update stock information</h3>

<form method="POST" action="/inventory/<%=@stock_item.id%>">

  <%# write a loop! for both the item id and the manuf id %>
  <label for="product-select">Select a Product:</label>
  <select name="item_id" id="product-select" selected="<%=@stock_item.item_id%>">
    <% @all_stock.each do |stock| %>
      <% if stock.item_id == @stock_item.item_id %>
        <option value=<%= stock.item_id %> selected><%= stock.product.product%></option>
      <% else %>
        <option value=<%= stock.item_id %>><%= stock.product.product%></option>
      <% end %>
    <% end %>
  </select>

  <label for="manuf-select">Select a Brand:</label>
  <select name="manuf_id" id="manuf-select" selected="<%=@stock_item.manuf_id%>">
    <% @all_stock.each do |stock| %>
      <% if stock.manuf_id == @stock_item.manuf_id %>
        <option value=<%= stock.manuf_id %> selected><%= stock.manufacturer.name%></option>
      <% else %>
        <option value=<%= stock.manuf_id %>><%= stock.manufacturer.name%></option>
      <% end %>
    <% end %>
  </select>

  <label for="quantity">Quantity in stock:</label>
  <input id="quantity" type="number" name="quantity" value="<%=@stock_item.quantity%>"/>

  <input type="submit" value="Update stock information"/>

</form>
