<h1><%= @stock_item.product %></h1>

<p>Category: <%= @item_detail.category %></p>

<p>Made By: <%= @stock_item.manufacturer %></p>

<p>Retail: <%= @item_detail.sellprice %></p>

<p>Wholesale: <%= @item_detail.costprice %></p>

<p>Product Margin: <%= @item_detail.margin %>percent</p>

<p>Quantity in Stock: <%= @stock_item.quantity %> </p>

<p><form action="inventory/new" method="GET">
  <input class="info-button" type="submit" value="Edit/Update Item" />
</form></p>

<p><form action="inventory/<%= entry.id%>/delete" method="POST">
  <input class="info-button" type="submit" value="Delete Item" />
</form></p>
