<h2>All Products:</h2>

<form action="items/new" method="GET">
  <input class="info-button" type="submit" value="Add New Item"/>
</form>

<%for item in @items %>
  <p>  Product Name: <%= item.product %> </p>
  <p>  Manufacturer: <%= item.brand.name %> </p>
  <p>  Product Category: <%= item.category %> </p>
  <p>  Wholesale Cost: <%= item.costprice %> </p>
  <p>  Retail Price: <%= item.sellprice %> </p>
  <p>  Quantity in Stock: <%= item.quantity %> </p>

  <form action="items/<%= item.id%>/edit" method="GET">
    <input class="info-button" type="submit" value="Edit Item Information"/>
  </form>

  <form action="items/<%= item.id%>/delete" method="POST">
    <input class="info-button" type="submit" value="Delete Item"/>
  </form>

<% end %>
